body{
    background: black;
    margin:10px;

    font-family: Consolas;
}

h1{
    color: green;
    text-align: center;
}

button{
    height: 50px;
    width: 30vw;
    margin: 10px 0 10px 50vw;
    transform: translateX(-50%);
    color: green;
    background: black;
    border-width: 1px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background: #101010
}

textarea{
    background: black;
    color: green;
    font-family: Consolas;
    display:block;
    height: 20vh;
    width: calc(100vw - 20px);
    resize: none;
    font-size: 2rem;
}